@font-face {
	font-family: Streamster;
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Streamster.woff) format("woff");
}

body {
	font-family: Streamster;
	background: linear-gradient(#000000,#0D0221);
	background-repeat: no-repeat;
	background-color: #0D0221;
	margin: 0;
	padding: 0;
	/* centering */
	text-align: center;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

a {
	text-decoration: none;
}

#container {
	margin-bottom: 5vmin;
}

#name {
	font-size: 11vmax;
	transform: rotate(-5deg);
}

span {
	display: flex;
	flex-direction: row;
}

.button {
	width: 30%;
	margin: auto;
}

.button img {
	width: 50%;
}

.button:hover {
	opacity: 0.75;
}

.label {
	font-size: 8vw;
	transform: rotate(-5deg) translateY(-100%);
}

#name, .label {
	background: -webkit-linear-gradient(#ff6c11, #f706cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}