@font-face {
	font-family: Streamster;
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Streamster.woff) format("woff");
}

html {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	font-family: Streamster;
	background-color: #0a0219;
	margin: 0;
	padding: 0;
	text-align: center;
}

/** Name/Title formatting **/

#container {
	margin-bottom: 5vmin;
}

#name {
	font-size: 20vmin;
	transform: rotate(-5deg);
	color: #2de2e6;
	text-shadow: 0 0 10px #2de2e6;
}

/** Links formatting **/

a {
	text-decoration: none;
}

span {
	display: flex;
	flex-direction: row;
}

.button {
	width: 30%;
	margin: auto;
}

.button img {
	width: 50%;
	border-radius: 50%;
	box-shadow: 0 0 20px #f706cf;
}

/** Glow effects **/

.button:hover, .button:active {
	text-shadow: 0 0 10px #2de2e6;
}

.button:hover img, .button:active img {
	border-radius: 50%;
	box-shadow: 0 0 40px #f706cf;
}

/** Links text **/

.label {
	font-size: 8vw;
	color: #2de2e6;
	transform: rotate(-5deg) translateY(-100%);
}

/** Highlight invisible **/

::selection {
	color: inherit;
	background: inherit;
}

::-moz-selection {
	color: inherit;
	background: inherit;
}