@font-face {
	font-family: Streamster;
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Streamster.woff) format("woff");
}

body {
	font-family: Streamster;
	background-color: #0a0219;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

a {
	text-decoration: none;
}

#container {
	margin-bottom: 5vmin;
}

#name {
	font-size: 20vmin;
	transform: rotate(-5deg);
	color: #2de2e6;
	text-shadow: 0 0 10px #2de2e6;
}

span {
	display: flex;
	flex-direction: row;
}

.button {
	width: 30%;
	margin: auto;
}

.button img {
	width: 50%;
	border-radius: 50%;
	box-shadow: 0 0 20px #f706cf;
}

.button:hover, .button:active {
	text-shadow: 0 0 10px #2de2e6;
}

.button:hover img, .button:active img {
	border-radius: 50%;
	box-shadow: 0 0 40px #f706cf;
}

.label {
	font-size: 8vw;
	color: #2de2e6;
	transform: rotate(-5deg) translateY(-100%);
}